{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}

<p id='post-message'>
    {{ request.args.get('message') or '' }}
</p>

<h2 id="welcome-header">
    Hi {{ user.name }} !
    Your balance is ${{ user.balance }}
</h2>

<h2 >Here are all available tickets</h2>

<div id="tickets">
{% for ticket in tickets %}
    <div class='ticket' name='{{ticket.name}}'>
        <h4>
            <span class='name'>{{ ticket.name }}</span>
            <span class='price'>{{ ticket.price }}</span>
            <span class='owner'>{{ ticket.owner }}</span>
            <span class='count'>{{ ticket.count }}</span>
        </h4>
    </div>
{% endfor %}
</div>

<h2>Sell Tickets</h2>
<form method="post" action="/sell">
    <div class="form-group">
        <label for="ticket-name">Ticket Name</label>
        <input class="form-control" name="ticket-name" id="sell-ticket-name" required>
        <label for="ticket-quantity">Ticket Quantity</label>
        <input class="form-control" name="ticket-quantity" id="sell-ticket-quantity" required>
        <label for="ticket-price">Ticket Price</label>
        <input class="form-control" name="ticket-price" id="sell-ticket-price" required>
        <label for="ticket-expiration-date">Expiration Date</label>
        <input class="form-control" name="ticket-expiration-date" id="sell-ticket-expiration-date" required>
        <input class="btn btn-lg btn-primary" type="submit" id="sell-submit" value="Sell">
    </div>
</form>

<h2>Update Tickets</h2>
<form method="post" action="/update">
    <div class="form-group">
        <label for="ticket-name">Ticket Name</label>
        <input class="form-control" name="ticket-name" id="update-ticket-name" required>
        <label for="ticket-quantity">Ticket Quantity</label>
        <input class="form-control" name="ticket-quantity" id="update-ticket-quantity" required>
        <label for="ticket-quantity">Ticket Price</label>
        <input class="form-control" name="ticket-price" id="update-ticket-price" required>
        <label for="ticket-quantity">Expiration Date</label>
        <input class="form-control" name="ticket-expiration-date" id="update-ticket-expiration-date" required>
        <input class="btn btn-lg btn-primary" type="submit" id="update-submit" value="Update">
    </div>
</form>

<h2>Buy Tickets</h2>
<form method="post" action="/buy">
    <div class="form-group">
        <label for="ticket-name">Ticket Name</label>
        <input class="form-control" name="ticket-name" id="buy-ticket-name" required>
        <label for="ticket-quantity">Quantity</label>
        <input class="form-control" name="ticket-quantity" id="buy-ticket-quantity" required>
        <input class="btn btn-lg btn-primary" type="submit" id="buy-submit" value="Buy">
    </div>
</form>


<a id="logout" href='/logout'>logout</a>
{% endblock %}