{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% with message = get_flashed_messages()[0] %}
  {% if message %}
    <h4 class=flashes id='login_message'>{{message}}</h4>
  {% else %}
    <h4 id='login_message'>Please Login</h4>
  {% endif %}
{% endwith %}
<form method="post">
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" name="email" id="email" required>
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" required>
    <input class="btn btn-lg btn-primary" type="submit" id="btn-submit" value="Log In">
  </div>
</form>
<a href='/register'>Register</a>
{% endblock %}